<a href="https://colab.research.google.com/github/Alexander-Kahanek/Python/blob/master/Assignment_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pymysql

def getCountry():
    pydb = pymysql.connect("localhost","root","MW$^cb77","world")
    dbcursor = pydb.cursor()

    sql = "select Name from country"
    dbcursor.execute(sql)
    results = dbcursor.fetchall()

    print("COUNTRIES")
    print("--------------------------")
    for row in results:
        print(row[0])
    print("--------------------------")
    dbcursor.close()

def get_one_row(country):
    pydb = pymysql.connect("localhost", "root", "MW$^cb77", "world")
    dbcursor = pydb.cursor()

    sql = "select * from country where Name='"+country+"'"
    dbcursor.execute(sql)
    results = dbcursor.fetchone()

    print("COUNTRY WITH NAME")
    print("--------------------------")
    print(results)
    print("--------------------------")
    dbcursor.close()

getCountry()

get_one_row("Zambia")