<a href="https://colab.research.google.com/github/Alexander-Kahanek/Python/blob/master/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1: write a function which could print a string content. The requirements are as follows (20’)

(1) the function accepts one argument which is  printed as the string  content (10’)

(2) the value of the argument should be provided in command line (10’)

In [9]:
def print_f(string=""):
  if string == "":
    string = input("Please input a string: ")
  print(string)

print_f("hello")
print_f()

hello
Please enter a string: This is my string
This is my string

2: Write a program that could sum all the even digit in the scope of 1-1000. The requirements are as follows. (20’)

(1) use the function of range to express the scope of 1-1000 (10’)

(2) use for loop to deal with the scope (10’)

The result should be “250500”.

In [13]:
sum=0
for i in range(1000):
  if ((i+1)%2) == 0:
    sum = sum + (i+1)
print(sum)

250500

3: Given a number list which is numbers=[12,10,3,2,[6,[7,8,9],19,21],21]. Write a function that can get the product of all the numbers in the list. The requirements are as follows. (20’)

(1) write the function by recursion (10’)

(2) the “numbers” should be an argument of the function (5’)

(3) the function returns a number (5’)

The result should be “18243429120”.

In [171]:
numbers=[12,10,3,2,[6,[7,8,9],19,21],21]

def get_sum(mylist):
  sum=1
  for x in mylist:
    if type(x) is list:
      sum = sum*get_sum(x)
    else:
      sum = sum*x
  return (sum)

print(get_sum(numbers))

18243429120

4: Given a matrix which is matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]. Write a function to complete the following task. (30’)

(1) turn the matrix (List) into an array (5’)

(2) use mask to set all the value above 20 to 0 (15’)

(3) output the result into a txt file (10’)

In [169]:
import numpy as np

matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]

def mat_txt(matrix):
  arr= np.array(matrix)
  arr[arr>20]=0
  f = open("data.txt","w")
  f.write(str(arr))

mat_txt(matrix)

0
0
12
0
12
0
15
0
0
19
0
0

5: Given a number list which is numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]. Write a function to complete  the following task. (30’)

(1) count the frequency of each different number in numbers list (10’)

(2) store the result into dictionary (10’)

(3) print it out (10’)

In [209]:
numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]

def cnt_freq(numbs):
    Dictionary={}
    Dictionary[numbs[0]] = 0
    for num in numbs:
      count = 1
      dictlist = list(Dictionary.items())
      for i in range(len(dictlist)):
        if num == dictlist[i][0]: #number is same
          count = dictlist[i][1] + 1
          Dictionary[num] = count
          count = 1
          break
        else: #number is not same
          Dictionary[num] = count
    dictlist = list(Dictionary.items())
    for i in range(len(dictlist)):
      print(dictlist[i][0]," ",dictlist[i][1])

cnt_freq(numbers)

1   2
3   9
2   17
4   6
32   1
5   1

6: Create a class Point which represent a point in two dimensions. It has two properties x and y. The detail requirements are as follows.

(1) When creating an object of Point, we can assign the value to x and y. If we don’t provide the value, they will be 0. (10’)

(2) If we print the object of Point directly, it will output the value of x and y. Its running effect is as follows. (10’)

(3) if we create two different objects of Point which are p1 and p2, (p1+p2) will get a new Point whose x is (p1.x+p2.x) and y is (p1.y+p2.y). Suppose p1(1,3) and p2(3.,4), then the result of print(p1+p2) is shown as follows. (10’)

In [212]:
class Point:
  def __init__(self, x=0, y=0):
    self.x=x
    self.y=y
  def __str__(self):
        return "This Point is ({0},{1})".format(self.x,self.y)
  def __add__(self,other):
    x= self.x + other.x
    y= self.y + other.y
    return(Point(x,y))

p2 = Point(3,4)
print(p2)

p1 = Point(1,3)
print(p1+p2)

This Point is (3,4)
This Point is (4,7)

7: Given an excel file named “catering_sale_all.xls”. It stores the sale situation of several kinds of food on one month. Write a program that could print the total sales volume of the month by a specific food. The detail requirements are follows.(50’)

(1) when running the program, it will list all the food with a fixed number in the excel (10’)

(2) it notify a user to specific one number (10’)

(3) it print the specific food’s total sales volume of one month (10’)

(4) after print the result, a user could switch to print another food’s sales volume (10’)

(5) when the user select exit, the program exits (10’)

In [0]:
import pandas as pd

df = pd.read_excel("catering_sale_all.xls")

dflist = ['exit']
for i in range(len(df.columns)):
    if i != 0:
        dflist.append(df.columns[i])

while True:
    for i in range(len(dflist)):
        print(i, dflist[i])
    usr = int(input("Please enter a number in the list: "))
    if usr == 0:
        break
    tot= df[dflist[usr]].sum()
    print('The total sale of',dflist[usr], 'is',tot)

8: Given a sql file named “world.sql” which are exported from MySQL by MySQL GUI Tools (For Mac: MySQL Workbench, For Windows: MySQL Administrator).Write a series of functions to complete the following tasks. (50’)

(1) import the data into MySQL — this is an operation not program (10’)

(2) write a function to connect to the ”world” schema by using of “pymysql” module (10’)

(3) For the “country” table, write a function to retrieve the average life expectancy of every continent (20’)

(4) print the result (10’)

In [0]:
import pymysql
import pandas as pd


def connect2sql(host, user, password, datab):
    pydb = pymysql.connect(host, user, password, datab)
    dbcursor = pydb.cursor()

    sql = "select * from country"
    dbcursor.execute(sql)
    results = dbcursor.fetchall()
    dbcursor.close()

    df = pd.DataFrame(results, columns=['Code','Name',"Continent",'Region',
                                        'SurfaceArea','IndepYear','Population',
                                        'LifeExpectancy','GNP','GNPOld','LocalName',
                                        'GovernmentForm',"HeadOfState",'Capital','Code2'])
    return df

def get_le(df):

    tdf = df[['LifeExpectancy','Continent']]

    tdf['LifeExpectancy']=tdf['LifeExpectancy'].astype(float)
    print(tdf.groupby('Continent').mean())


df = connect2sql("localhost", "root", "MW$^cb77", "world")
get_le(df)

9. Using the “world” schema imported in Question 8. For the “country” table, write a series of functions to complete the following tasks. (50’)

(1) write a function to connect to the ”world” schema by using of “pymysql” module (10’)

(2) write a function to calculate the total population by every continent (20’)

(3) use pie plot to display the result. (20’)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

def get_pop(df):
    tdf = df[['Population', 'Continent']]
    tot = []
    cnt = []
    for cont in pd.unique(tdf['Continent']):
        pop = tdf[tdf['Continent']==cont].sum()[0]
        tot.append(pop)
        cnt.append(cont)

    sum=0
    for n in tot:
        sum = sum+n

    for i in range(len(tot)):
        tot[i]=(tot[i]/sum)*100
    return (tot, cnt)

pop, cont = get_pop(df)

explode = (0.2,0.2,0.2,0.2,0.2,0.2,0.2)
fig1, ax1 = plt.subplots()
ax1.pie(pop, labels=cont, autopct='%1.1f%%', explode=explode)
ax1.axis('equal')

plt.show()

10: Given a csv file named “energy-production.csv”. It stores energy production of one area between 1973 and 2014. Write a series of functions to complete the following tasks. (50’)

(1) use “panda” to load the “energy-production.csv” file (10’)

(2) Write a function which accept year (1973-2014) as argument to retrieve the specific year’s energy production in detail. (20’)

(3) use bar plot to display the retrieved result. (20’)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

def get_year(df):
    usr = int(input("Please enter a year between 1973 and 2014: "))
    tdf = df[df['Year']==usr]
    tdf = tdf.drop(['Unnamed: 0','Year'], axis=1)
    tdf = pd.melt(tdf)
    return tdf


df = pd.read_csv('energy-production.csv')

df = get_year(df)

df.plot('variable','value',kind='bar')
plt.xticks(rotation=315)
plt.show()